#LEDS
set_io      led[0]      99
set_io      led[1]      98
set_io      led[2]      97
set_io      led[3]      96
set_io      led_4       95

#Buttons
set_io -pullup yes      go_btn      78
set_io -pullup yes     rst_btn      79

#Clock
set_io      clk         21