# OS
.DS_Store
Thumbs.db

# Python / tooling
__pycache__/
*.pyc

# Apio / Icestorm artifacts
.apio/
.build/
build/
*.bin
*.asc
*.blif
*.json
*.log
*.rpt
*.vcd
*.jed
*.o
*.d

# Waves and sim outputs
*.fst
*.vvp
*.gtkw
*.lxt

# Editor
*.swp
.idea/
.vscode/
